{% extends 'inc/base.html.twig' %}
{% block title %}
	Products
{% endblock %}

{%block body %}
	<h1>Products</h1>
{{form_start(form)}}
	<div class="input-group mb-3">
		
		{{ form_widget(form.query)}}
		<div class="input-group-append">
			{{ form_widget(form)}}
		</div>
	</div>

	{% if products  %}
		<div class="">
			{% for product in products %}

				<div class="card">

					{% if product.getImage(0) %}

						<img class="card-img-top" src="../{{product.getImage(0).path()}}">

					{% else %}
						<img class="card-img-top" src="../img/noproduct.png" alt="Card image cap">
					{% endif %}
					<div class="card-body" style=" overflow:visible">
						<h5 class="card-title">
							{{product.title}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">R$
							{{product.price}}
						</h6>
						<p class="card-text">{{product.description}}</p>
						<a href="#" class="btn btn-light form-control">Buy</a>
						<div class="card-footer">
							{% if product.stock > 0 %}
								<small class="text-muted">Stock:
									{{product.stock}}</small>
							{% else %}
								<small class="text-muted">Not in stock!</small>
							{% endif %}

							{% if product.getTags() %}
								<ul class="myTags" style=" overflow: hidden;">
									{% for tag in product.getTags() %}
										<li>{{tag.name}}</li>
									{% endfor %}
								</ul>
							{% endif %}

						</div>

					</div>
				</div>
			{% endfor %}
		</div>

	{% else %}
		<p>No products to display</p>
	{% endif %}
{% endblock %}
