{% extends 'inc/base.html.twig' %}
{% block title %}
	Product Form
{% endblock %}
{%block body %}
	<div class="row">
		<div class="col">
			{% block javascripts %}
				<script src="{{ asset('../js/editProduct.js')}}" type="text/javascript" charset="utf-8"></script>
			{% endblock %}
			{{form_start(form)}}

			<!-- Modal -->
			<div class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="modalImageLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalImageLabel">Add Images</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div id="image-fields-list" data-prototype="{{ form_widget(form.imagesFiles.vars.prototype)|e }}" data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.imagesFiles|length }}">
								{% for imageField in form.imagesFiles %}
									<div class="card">
										{{imageField.title}}

										{{ form_widget(imageField) }}

									</div>

								{% endfor %}
							</div>
						</div>
						<div class="modal-footer">

							<button type="button" class="btn btn-primary add-another" data-list-selector="#image-fields-list">Add another image</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			{{form_widget(form)}}

			{{form_end(form)}}
			{% if tags %}
				<div id="hidTags" class="hidden">
					{% for tag in tags %}
						{{tag}},
					{% endfor %}
				</div>
			{% endif %}
		</div>

		<div class="col">

			<a class="btn btn-info" href="#carouselExampleFade" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="">Previous</span>
			</a>
			<a class="btn btn-info" href="#carouselExampleFade" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="">Next</span>
			</a>
			<button type="button" class="btn btn-primary add-another page-button" data-toggle="modal" data-target="#modalImage" data-list-selector="#image-fields-list">
				Add Image
			</button>
			{% if images|length>0 %}
				<a id="deleteImageBtn" class="btn btn-danger" role="button" href="javascript:deleteImage()">
					Delete this image
				</a>
			{% endif %}
			<br>
			<span id="countImgs">
				{{form.imagesFiles|length}}
				Images added. New images will appear after product is saved.
			</span>
			<div id="carouselExampleFade" class="carousel carousel-fade" data-ride="carousel">
				<div class="carousel-inner">

					{% for image in images %}

						<br>
						{% if image == images.first() %}
							<div class="carousel-item active">
							{% else %}
								<div class="carousel-item">
								{% endif %}

								<div class="hidden id">{{image.id}}</div>
								<img src={{image.path}} class="d-block w-100 img-fluid card-img-top	"/>
								<label class="prod-label">{{image.title}}</label>
							</div>
							<br>


						{% endfor %}
					</div>

				</div>
			</div>
		</div>
	{% endblock %}
