{% extends 'inc/base.html.twig' %}
{% block title %}
	Products
{% endblock %}

{%block body %}
	<h1>Products</h1>

	{% if products  %}
		<table id="table" class="table table-striped">
			<thead>
				<tr>
				<th>Image
					</th>
					<th>Product Title
					</th>
					<th>Description</th>
					<th>Price</th>
					<th>Stock</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for product in products %}
					<tr>
						<td>
						{% if product.getImages() %}
						{% for img in product.getImages() %}
						<img  width=200 src="{{img.path()}}" />
						{% endfor %}
						
							{% endif %}
						</td>
						<td>
							{{product.title}}
						</td>
						<td>
							{{product.description}}
						</td>
						<td>
							{{product.price}}
						</td>
						<td>
							{{product.stock}}
						</td>
						<td>
							<a href="{{ path('show_product', {id: product.id}) }}" class="btn btn-dark btn-block">Show</a>
							<a href="{{ path('edit_product', {id: product.id}) }}" class="btn btn-info btn-block">Edit</a>
							<a href="{{ path('delete_product', {id: product.id}) }}" class="btn btn-danger delete-product btn-block" }}>Delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% else %}
		<p>No products to display</p>
	{% endif %}


{% endblock %}
