{% extends 'inc/base.html.twig' %}
{% block title %}
	Adicionar Produto
{% endblock %}

{%block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}
	{{form_start(form)}}


	<!-- Modal -->
	<div class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="modalImageLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalImageLabel">Add Images</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="image-fields-list" data-prototype="{{ form_widget(form.imagesFiles.vars.prototype)|e }}" data-widget-tags="{{ '<div></div>'|e }}" data-widget-counter="{{ form.imagesFiles|length }}">
						{% for imageField in form.imagesFiles %}
							<div class="card" id={{imageField}}>


								{{ form_widget(imageField) }}

							</div>

						{% endfor %}
					</div>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-primary add-another" data-list-selector="#image-fields-list">Add another image</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{{ form_errors(form.imagesFiles) }}
	{{ form_row(form.title)}}
	{{ form_row(form.description)}}

	{% if form.imagesFiles.vars.errors|length > 0 %}
		<ul class="form-errors name">
			{% for error in form.imagesFiles.vars.errors %}
				{{ error }}
			{% endfor %}
		</ul>
	{% endif %}
	<button type="button" class="btn btn-primary add-another page-button" data-toggle="modal" data-target="#modalImage" data-list-selector="#image-fields-list">
		Add Images
	</button>
	<span id="countImgs">
		{{form.imagesFiles|length}}
		Images added.
	</span>
	{{form_end(form)}}

{% endblock %}
{% block javascripts %}
	<script src="../js/newProduct.js"></script>
{% endblock %}
